<p id="notice"><%= notice %></p>

<h1>Listing Roommates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roommates.each do |roommate| %>
      <tr>
        <td><%= roommate.name %></td>
        <td><%= roommate.description %></td>
        <td><%= link_to 'Show', roommate %></td>
        <td><%= link_to 'Edit', edit_roommate_path(roommate) %></td>
        <td><%= link_to 'Destroy', roommate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roommate', new_roommate_path %>
